/* RESET BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONT GLOBALE */
body {
  font-family: 'Open Sans', sans-serif;
  color: #1c1c1c;
  background-color: #ffffff;
}

/* LINK */
a {
  text-decoration: none;
  color: inherit;
}

/* LISTE */
ul {
  list-style: none;
}

/* IMMAGINI */
img {
  max-width: 100%;
  display: block;
}

/* CONTAINER BASE  */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}